<div class="jumbotron">
  <div class="container">
    <div class="media">
      <a class="pull-left" href="images/headshot.jpg">
        <img src="images/headshot.jpg" width="200" alt="...">
      </a>
      <div class="media-body">
      <h1 style="text-align:left;">Yo,</h1>
      <p style="text-align:left;">my name is Cody and I'm currently a junior at Duke University double majoring in Computer Science and Mathematics.</p>
      <p style="text-align:left;">Welcome to my space.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>About</h2>
      <p>Last summer was amazing</p>
      <p><a class="btn btn-default" href="#about" role="button">Read more &raquo;</a></p>
    </div>
    <div class="col-md-3">
    <h2>Projects</h2>
    <p>I learn so much every time I get a bug/error</p>
    <p><a class="btn btn-default" href="#projects" role="button">What I've made &raquo;</a></p>
  </div>
  <div class="col-md-3">
    <h2>Resume</h2>
    <p>I LaTeX'ed it</p>
    <p><a class="btn btn-default" href="#resume" role="button">It's so beautiful &raquo;</a></p>
  </div>
  <div class="col-md-3">
    <h2>Contact</h2>
    <p>Getting someone's number has never been easier</p>
    <p><a class="btn btn-default" href="#contact" role="button">Get in touch &raquo;</a></p>
  </div>
</div>